@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.activePage {
  @apply text-blue-700 dark:text-blue-500;
}

.slick-arrow:before {
  @apply !text-black dark:!text-[red];
}

.slick-dots li button:before {
  @apply dark:text-gray-300;
}

.slick-dots li.slick-active button:before {
  @apply dark:text-white;
}

/* width */
::-webkit-scrollbar {
  @apply bg-transparent w-[6px];
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-blue-400 rounded-xl;
}

/* loadeing css */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid skyblue;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  @apply dark:border-t-red-500;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
